@page "/mainstudent"
@using MatheHero.Shared.Helper
@using MatheHero.Shared.Models
@using MatheHero.Shared.Services
@using MatheHero.Shared.Shared.Interface
@using MatheHero.Shared.Shared.Pages.Authentifizierung
@using MatheHero.Shared.Shared.Pages.Header
@using MatheHero.Shared.Shared.Pages.Navigation
@using MatheHero.Shared.Shared.Service

@inject IFormFactor FormFactor
@inject IAuthService _authService
@inject NavigationManager Navigation
@inject IPlatformService Platform
@inject AuthStateService AuthStateService

@if (isInitialized)
{
	<MainNavigation AuthResult="authResult" UserModel="userModel" />
}
else
{
	<div class="login-popup-container">
		<div class="login-popup-body">
			<p>Kein Zugriff</p>
			<p class="btn-menu-primary" @onclick="Logout">Abmelden</p>
		</div>
	</div>
}

@code {
	private string factor => FormFactor.GetFormFactor();
	private string platform => FormFactor.GetPlatform();

	private bool isAuthorized = false;

	private bool isInitialized = false;

	private AuthResult authResult = new AuthResult();

	private UserModel userModel = new UserModel();

	protected override async Task OnInitializedAsync()
	{

		userModel = AuthStateService.GetCurrentUserStatus();
		authResult = AuthStateService.GetCurrentAuthStatus();

		StateHasChanged();
	

		isInitialized = true;
	}

	private async Task Logout()
	{
		await _authService.LogoutAsync();

		AuthStateService.Clear();

		if (Platform.IsRunningInMaui())
			Navigation.NavigateTo("/login");
		else
			Navigation.NavigateTo("/login", forceLoad: true);
	}
}
