@using MatheHero.Shared.Shared.Pages.Toast
@using MatheHero.Shared.Shared.Pages.Header

@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JS

@if (!Navigation.Uri.EndsWith("/") && !Navigation.Uri.Contains("loadingscreen"))
{
    @* <Header /> *@
}

<main class="@(Navigation.Uri.EndsWith("/") ? "container-fluid" : "container")">
    @Body
</main>

@* <footer class="text-center mt-3 mb-3">
    © 2025 – MatheHero
</footer> *@

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Navigation.Uri.EndsWith("/loadingscreen"))
        {
            await JS.InvokeVoidAsync("document.body.classList.add", "main-content-background");
            await JS.InvokeVoidAsync("document.body.classList.remove", "company-screen-background");
        }
    }
}
